.container {
  width: 1140px;
  margin: 0 auto;
}

header {
  padding-top: 1em;
}

#logo-container {
  border: 1px solid #333;
  padding: 1.39em;
}

#mad-logo {
  display: block;
  width: 28.75em;
  margin: 0 auto; 
}

#happy-img {
  float: left;
  width: 8em;
  border: 1px solid #333;
  padding: 1em;
  position: absolute;
}

#create-section {
  padding: 2em 0;
  border: 1px solid #333;
}

#create-section > h2 {
  font-weight: 300;
  font-size: 2em;
  width: 52.5%;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

input:focus {
  outline: none;
}

form {
  width: 55%;
  margin: 0 auto;
  position: relative;
}

#create-section input[type="text"] {
  margin: 1em;
}

#create-section input[type="radio"], label {
  position: absolute;
}

input[id="male"] {
  left: 1.8em;
  top: 2.85em;
}

input[id="female"] {
  left: 5.9em;
  top: 2.85em;
}

label[for="male"] {
  left: 3em;
  top: 2.8em;
}

label[for="female"] {
  left: 7em;
  top: 2.8em;
}

input[type="submit"],
button {
  display: block;
  margin: 0 auto;
  padding: 0.5em 2em;
  border: none;
  background-color: #dd2255;
  color: #fff;
  margin-top: 1em;
}

#create-section button:hover {
  background-color: #ee3366;
}

#results-section {
  border: 1px solid #333;
  padding: 2em 0;
}

button:focus {
  outline: none;
}

#results-section p {
  width: 50%;
  margin: 0 auto;
  line-height: 1.8;
  letter-spacing: 1px;
  font-size: 1.2em;
}

span {
  display: inline-block; 
}

.blank {
  border-bottom: 1px solid #333;
  width: 100px;
}

.error {
  color: red;
  letter-spacing: 1px;
}

#error {
  text-align: center;
}